<script type="text/x-template" id="bdm-m-el">
    <div class="elem bdm rr">
        <div class="bdm-title">
            <p>БДМ-1</p>
            <p>РАБОТА</p>
        </div>
        <div class="bar-field">
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
            </div>
            <p>В работе - 764 ч</p>

            <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
            </div>
            <p>В обрыве - 72 ч</p>

            <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div>
            </div>
            <p>В останове - 216 ч</p>
        </div>
    </div>
</script>
